@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: url(folder/You\ are\ invited.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.curtain1{
    height: 100vh;
    width: 50%;
    background-color: purple;
    background: url(folder/curtainimg1.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    animation-name: curtain1;
    animation-duration: 3s;
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 5;
}

.curtain2{
    height: 100vh;
    width: 50%;
    background-color: rgb(184, 84, 184);
    position: relative;
    overflow: hidden;
    animation-name: curtain2;
    animation-duration: 3s;
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 5;
    background: url(folder/Noah\ &\ Olivia.png);
    background-position: center;
    background-size: cover;
}
.demiCercle1{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-color: transparent;
   position: absolute;
   top: calc(40vh);
   right: -100px;
}
.demiCercle2{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-color: #fff;
   position: absolute;
   top: calc(40vh);
   left: -100px;
}
#openCard{
    position: absolute;
    bottom: 10vh;
    left: 40%;
    background-color: transparent;
    width: 250px;
    height: 40px;
    border: 1.5px solid #fff;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    letter-spacing: 1.3px;
    box-shadow: 1px 0.5px 4px #fff;
    transition: 0.3s ease;
    animation-name: opencard;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#openCard:hover{
 transform: scaleX(1.2);
 box-shadow: 2px 1px 4px #fff;

}
.clé{
    max-width: 200px;
    position: absolute;
    top: 42vh;
    left: 42.5vw;
    animation-name: clé;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    z-index: 5;
}

@keyframes clé {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(4deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-4deg);
    }
    100%{
        transform: rotate(0deg);
        transform: translateY(-100vh);
        display: none;
        overflow: hidden;
    }
  
    
}
@keyframes curtain1 {
    0%{
        width: 50vw;
    }
    100%{
        width: 0%;
    }
}
@keyframes curtain2 {
    0%{
        width: 50vw;
    }
    100%{
        width: 0%;
    }
}
@keyframes opencard {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.carte{
    height: 100vh;
    width: 100%;
    background: url(folder/backtray.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}
.information{
    width: 50vw;
    padding: 15px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 130px;
    height: 100%;
}
.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.verticalDate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text1{
    font-size: 24px;
    font-weight: 500;
}

.text2{
    font-size: 60px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text3{
    font-size: 24px;
    font-weight: 500;
}
.text4{
    margin-top: 40px;
    font-weight: 500;
    align-self: center;
}
.text5{
    align-self: center;
}

.nexto{
    margin-top: 30px;
    width: 250px;
    height: 45px;
    align-self: center;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    background-color: rgb(4, 77, 4);
    color: #fff;
    border: none;
    letter-spacing: 1.3px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
}
.nexto:hover{
    color:rgb(4, 77, 4) ;
    border: 1.5px solid rgb(4, 77, 4);
    background-color: transparent;
    box-shadow: 2px 2px 6px rgb(4, 77, 4);
}


.reponse{
    height: 100vh;
    width: 100%;
    position: relative;
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(folder/back2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px) brightness(0.5);
    z-index: -1;
    
}

.lastContenu{
    z-index: 5;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

#coming{
    letter-spacing: 1.5px;
    font-family: "Dancing Script", cursive;
    margin-top: 50px;

}
.lastContenu h2{
    font-family: "Poppins", sans-serif;
    margin-top:30px ;
    letter-spacing: 2px;
}
#name{
    width: 350px;
    height: 50px;
    font-size: 22px;
    padding: 4px 4px 4px 8px;
    border: 1.5px solid #fff;
    background-color: transparent;
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.chose{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.radio{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.chose span{
    margin-left: 15px;
    font-family: "Poppins", sans-serif;

}

.submit{
    margin-top: 40px;
    height: 40px;
    font-size: 19px;
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 300px;
    align-self: center;
    transition: 0.3s;
}

.submit:hover{
    background-color: transparent;
    border: 2px solid black;
    color: black;
}



/* make it responsive */
@media  ( max-width:1020px ) {
    #openCard{
        bottom: 10vh;
        left: 38%;
    }
}
@media  ( max-width:970px ) {
    #openCard{
        bottom: 10vh;
        left: 37%;
    }
}
@media  ( max-width:820px ) {
    #openCard{
        bottom: 10vh;
        left: 38%;
         width: 200px;
        height: 35px;
        color: #fff;
        font-size: 20px;
    }
}

@media (max-width:860px) {
    .information{
    width: 60vw;
    padding: 15px;
    margin-top: 130px;
    height: 100%;
}
.carte{
    height: 100vh;
    width: 100%;
    background: url(folder/backtrayRes1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
}
@media (max-width:750px) {
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url(folder/You\ are\ invited.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.curtain1{
    height: 50vh;
    width: 100%;
    background: url(folder/up2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    animation-name: curtain1;
    animation-duration: 3s;
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 5;
}

.curtain2{
    height: 50vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    animation-name: curtain2;
    animation-duration: 3s;
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 5;
    background: url(folder/up1.png);
    background-position: center;
    background-size: cover;
}
@keyframes curtain2 {
    0%{
        height: 50vh;
    }
    100%{
        height: 0vh;
    }
}
@keyframes curtain1 {
    0%{
        height: 50vh;
    }
    100%{
        height: 0vh;
    }
}
.clé{
    max-width: 150px;
    position: absolute;
    top: 42vh;
    left: 42.5vw;
}

@keyframes clé {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(4deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-4deg);
    }
    100%{
        transform: rotate(0deg);
        transform: translateX(-100vw);
        display: none;
        overflow: hidden;
    }
}
   .information{
    width: 70vw;
    padding: 15px;
    margin-top: 130px;
    height: 100%;
}
}

@media (max-width:695px) {
    .container{
        background: url(folder/You\ are\ invitedRES.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #openCard{
    position: absolute;
    bottom: 15vh;
    left: 32%;
    width: 250px;
    height: 40px;
    color: #fff;
    font-size: 22px;
 
}
}

@media (max-width:706px) {
    #coming{
    letter-spacing: 1.5px;
    font-family: "Dancing Script", cursive;
    font-size: 28px;
    margin-top: 50px;

}
.lastContenu h2{
    font-family: "Poppins", sans-serif;
    margin-top:30px ;
    letter-spacing: 2px;
    font-size: 18px;
}
#name{
    width: 350px;
    height: 50px;
    font-size: 22px;
    padding: 4px 4px 4px 8px;
    border: 1.5px solid #fff;
    background-color: transparent;
    margin-top: 60px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
}

@media (max-width:590px) {
        #openCard{
    position: absolute;
    bottom: 18vh;
    left: 32%;
    width: 200px;
    height: 36px;
    color: #fff;
    font-size: 20px;
 
}
   .information{
    width: 85vw;
    padding: 15px;
    margin-top: 130px;
    height: 100%;
}
}
@media (max-width:567px) {

.lastContenu h2{
    margin-top:30px ;
    letter-spacing: 2px;
    font-size: 16px;
    align-self: center;
}
#name{
    width: 350px;
    height: 50px;
    font-size: 22px;
}
}

@media (max-width:515px) {
    .clé{
    max-width: 110px;
    min-height: 110px;
    position: absolute;
    top: 38vh;
    left: 42.5vw;
}
.lastContenu h2{
    margin-top:30px ;
    letter-spacing: 2px;
    font-size: 14px;
    align-self: center;
}
#name{
    width: 350px;
    height: 40px;
    font-size: 20px;
}
   .information{
    width: 95vw;
    padding: 15px;
    margin-top: 130px;
    height: 100%;
}
.nexto{
    margin-top: 30px;
    width: 210px;
    height: 40px;
    align-self: center;
    font-size: 17px;

}
}
@media (max-width:480px) {
    .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: url(folder/You\ are\ invitedRES2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.curtain2{

    animation-name: curtain2;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
}
.curtain1{

    animation-name: curtain1;
    animation-duration: 2.5s;
    animation-delay: 1.5s;
}
        #openCard{
    position: absolute;
    bottom: 18vh;
    left: 28%;
    width: 200px;
    height: 36px;
    color: #fff;
    font-size: 20px;
 
}
    .clé{
display: none;
overflow: hidden;
}
.lastContenu h2{
    margin-top:30px ;
    letter-spacing: 2px;
    font-size: 22px;
    align-self: center;
}
   #coming{
    letter-spacing: 1.5px;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    margin-top: 50px;

}
}
@media (max-width:450px) {
        .container{
        background: url(folder/Wedding.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carte{
    height: 100vh;
    width: 100%;
    background: url(folder/res2222.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.text1{
    font-size: 21px;
    font-weight: 500;
}

.text2{
    font-size: 45px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text3{
    font-size: 21px;
    font-weight: 500;
}
.text4{
    margin-top: 40px;
    font-weight: 500;
    align-self: center;
}
.text5{
    align-self: center;
    font-size: 16px;
}
#openCard{
    position: absolute;
    bottom: 18vh;
    left: 27%;
    width: 180px;
    height: 32px;
    color: #fff;
    font-size: 19px;
}
}
.center{
    text-align: center;
    
}

@media (max-width:385px){
   .text1{
    font-size: 19px;
    font-weight: 500;
}

.text2{
    font-size: 45px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text3{
    font-size: 19px;
    font-weight: 500;
}
.text4{
    margin-top: 37px;
    font-weight: 500;
    align-self: center;
}
.text5{
    align-self: center;
    font-size: 15px;
}
#name{
    width: 280px;
    height: 35px;
    font-size: 18px;
    align-self: center;
}
.lastContenu h2{
    margin-top:30px ;
    letter-spacing: 2px;
    font-size: 18px;
    align-self: center;
}
.submit{
    margin-top: 40px;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
    width: 250px;
}
}

.center2{
    text-align: center;
}
@media (max-width:375px) {
        .carte{
    height: 100vh;
    width: 100%;
    background: url(folder/res222.png);
    background-size: cover;
    background-repeat: no-repeat;
}
}

@media (max-width:425px) {
        .carte{
    height: 100vh;
    width: 100%;
    background: url(folder/res22222.png);
    background-size: cover;
    background-repeat: no-repeat;
}
}

@media (max-width:415px) {
        .carte{
    height: 100vh;
    width: 100%;
    background: url(folder/res21.png);
    background-size: cover;
    background-repeat: no-repeat;
}
}
